/* Styling for body with gray background image */
body {
  background-image: url("https://cdn.hipwallpaper.com/i/18/18/a4pf82.jpg");
  min-height: 100%;
}

/* Container for about page in index with main container */
.about-container {
  background-color: white;
  height: 500px;
  padding: 5px;
  margin: 60px;
}

/* Standout text in same color for each page */

h1 {
  color: #a0d2eb;
  border-bottom: 1px solid grey;
  padding-bottom: 3px;
  margin: 5px;
}

/* Code for positioning all images  */

img {
  float: left;
  margin: 10px;
}

/* Custom navbar styling to comply with assignment  */
.nav-background {
  background-color: #a0d2eb;
  font-size: 25px;
  color: black;
  font-weight: bold;
  font-family: "Lora", serif;
}

/* styling for footer found on all pages  */
.footer-bottom {
  background: #31312c;
  color: #a0d2eb;
  height: 50px;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #a0d2eb;
}
/* custom css for portfolio pages main container. */
.portfolio-container {
  background-color: white;
  height: 1300px;
  padding: 5px;
  margin: 22px;
}
