.navitems {
  text-align: right;
  color: red;
}

body {
  background-image: url("https://cdn.hipwallpaper.com/i/18/18/a4pf82.jpg");
  min-height: 100%;
}
.about-container {
  background-color: white;
  height: 500px;
  padding: 5px;
  margin: 60px;
}

h1 {
  color: #a0d2eb;
  border-bottom: 1px solid grey;
  padding-bottom: 3px;
  margin: 5px;
}

img {
  float: left;
  margin: 10px;
}
.nav-background {
  background-color: #a0d2eb;
  font-size: 25px;
  color: black;
  font-weight: bold;
  font-family: "Lora", serif;
}

.footer-bottom {
  background: #31312c;
  color: #a0d2eb;
  height: 50px;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #a0d2eb;
}

.my-card {
  margin: 20px;
  padding: 30px;
}

.portfolio-container {
  background-color: white;
  height: 1300px;
  padding: 2px;
  margin: 5px;
}

.img-container {
  position: absolute;
  display: inline-block;
}

.form {
  display: inline-block;
  position: fixed;
}
